$dark: #252b3a;
body {
    font-color: $dark;
    margin:  0px;
    padding: 0px;
    border: 1em solid $dark;
    font-size: 2em;
}

.unstyled {
    list-style-type: none;
}

.left {
    float: left;
}
.right {
    float: right;
}
.wrapper {
    height: 100%;
    background-color: light-brown;
}

.book-binding {
    border-bottom: 2px solid $dark;
}