$dark: #252b3a;
body {
    font-color: $dark;
    margin:  0px;
    padding: 0px;
    border-left: 1em solid $dark;
    border-right: 1em solid $dark;
    border-top: 1em solid $dark;
    font-size: 2em;
}

.unstyled {
    list-style-type: none;
}

.left {
    float: left;
}
.right {
    float: right;
}
.wrapper {
    height:100vh;
    background-color: light-brown;
}

.book-title {
    font-style: bold;
}
.book-binding {
    border-bottom: 2px solid $dark;
}